<form method="POST" class="mt-5" enctype="multipart/form-data">
    <div class="form-group">
        <label for="inputTitle">Заголовок</label>
        <input type="text"
               value="<%= book.title %>"
               name="title"
               class="form-control"
               id="inputTitle">
    </div>

    <div class="form-group">
        <label for="inputDesc">Описание</label>
        <textarea
                rows="3"
                name="description"
                class="form-control"
                id="inputDesc"
        ><%= book.description %></textarea>
    </div>

    <div class="form-group">
        <label for="inputAuthors">Авторы</label>
        <input type="text"
               value="<%= book.authors %>"
               name="authors"
               class="form-control"
               id="inputAuthors">
    </div>
 
    <div class="form-group">
        <input type="checkbox"
               name="favorite"
               id="inputFavorite"               
               <%= book.favorite ? "checked" : "unchecked" %>
               >
        <label for="inputFavorite">Рекомендуемая</label>
    </div>

    <div class="form-group">
        <label for="InputFileCover">Путь к файлу обложки на сервере</label>
        <input type="text"
               value="<%= book.fileCover %>"
               name="fileCover"
               class="form-control"
               id="InputFileCover"
               disabled>

        <label for="uCoverPath">Загрузить обложку</label>
        <input type="file" name="cover" class="form-control" id="uCoverPath">
    </div>

    <!-- <div class="form-group">
        <label for="inputFileName">Название файла книги</label>
        <input type="text"
               value="<%= book.fileName %>"
               name="fileName"
               class="form-control"
               id="inputFileName">
    </div> -->

    <div class="form-group">
        <label for="InputFileBook">Путь к файлу книги на сервере</label>
        <input type="text"
               value="<%= book.fileBook %>"
               name="fileBook"
               class="form-control"
               id="InputFileBook"
               disabled>

        <label for="uBookPath">Файл книги</label>
        <input type="file" name="book" class="form-control" id="uBookPath">
    </div>    

    <!-- <div class="form-group">
        <label for="coverfile">Файл обложки</label>
        <input type="file" name="cover" class="form-control" id="coverfile">
    </div>
    <div class="form-group">
        <label for="bookfile">Файл книги</label>
        <input type="file" name="book" class="form-control" id="bookfile">
    </div>     -->

    <div class="form-group text-right ">
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>
    
</form>