<%- include('../port/layout-start', {title: title}) %>
<%- include('../port/menu', { user: user }) %>

<h1><%= title %></h1>

<div class="row">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-body">

                <h5 class="card-title"><%= book.title %></h5>

                <table class="table">
                    <tbody>
                      <tr>
                        <td>Описание</td>
                        <td><%= book.description %></td>
                      </tr>
                      <tr>
                        <td>Авторы</td>
                        <td><%= book.authors %></td>
                      </tr>
                      <tr>
                        <td>
                          <!-- <div> -->
                              <input type="checkbox"
                                    name="favorite"
                                    id="inputFavorite"
                                    <%= book.favorite ? "checked" : "unchecked" %>
                                    disabled>
                              <label for="inputFavorite">Рекомендуемая</label>
                          <!-- </div> -->
                        </td>
                        <td></td>
                        <!-- <td><%= book.favorite %></td> -->
                      </tr>
                      <tr>
                        <td>Путь к файлу обложки на сервере</td>
                        <td><%= book.fileCover %></td>
                      </tr>  
                      <tr>
                        <td>Название файла книги</td>
                        <td><%= book.fileName %></td>
                      </tr> 
                      <tr>
                        <td>Путь к файлу книги на сервере</td>
                        <td><%= book.fileBook %></td>
                      </tr>  
                      <tr>
                        <td>Количество обращений</td>
                        <td><%= cnt %></td>
                      </tr>                                                                                      
                    </tbody>
                </table>

                <div class="text-right">
                    <a class="btn btn-sm btn-primary" href="/books/update/<%= book.id %>">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <form action="/books/delete/<%= book.id %>" method="POST" class="d-inline">
                        <button class="btn btn-sm btn-danger">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<% if (user || notes.length > 0) { %>
  <br />

  <div class="row d-flex justify-content-left">
    <div class="col-md-8 col-lg-8">
        <div class="card shadow-0 border" style="background-color: #f0f2f5;">
            <div class="card-body p-4">

              <% if (user) { %>
                <div data-mdb-input-init class="form-outline mb-4">
                    <input type="text" id="text" class="form-control" placeholder="Напишите комментарий..." />
                    <button type="submit" for="text" id="send-book-discussants" class="btn btn-primary">Отправить комментарий</button>
                </div>
              <% } %>

              <div id="list" class="list-group">
                <% notes.map((el, idx) => {  %>
                  <div class="card mb-4">
                    <div class="card-body">
                      <p><%= el.text %></p>
                      <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                          <p class="small mb-0 ms-2"><%= el.username %></p>
                        </div>       
                        <div class="d-flex flex-row align-items-center">
                          <p class="small text-muted mb-0"><%= el.date %></p>
                        </div>                                         
                      </div>
                    </div>
                  </div>	
                <% }) %>
              </div>

            </div>
        </div>
    </div>
  </div>

<% } %>

<%- include('../port/layout-end-with-socket', { user: user }) %>